:root {
    --color-dark-green: #007368;
    --color-light-green: #c4dfd8;
    --color-dark-blue: #b1d0e5;
    --color-orange: #fbc966;
    --font-arima: "Arima", system-ui;
    --font-roboto: "Roboto", sans-serif;;
}

.about .common-main {
    background-image: url("../imgs/aboutheaderback.jpg");
}

.about .section1
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    padding-top: 70px;
    margin-bottom: 10%;
}
.about h1
{
    grid-column: 1/3;
    grid-row: 1;
    padding-left: 5%;
    padding-bottom: 30px;
    font-family: var(--font-arima);
    color: var(--color-dark-green);
}
.about .div-1-sec-1
{
    /* background-color: blue; */
    padding: 10%;
    font-family: var(--font-roboto);
}

.about .div-2-sec-1
{
    /* background-color: red; */
    font-family: var(--font-roboto);
    padding: 10%;
}
.about .section2
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 50px;
    margin-bottom: 10%;
    padding-left: 5%;
}
.about h2
{
    font-family: var(--font-arima);
    color: var(--color-dark-green);
    grid-column: 2;
    grid-row: 1;
}
.about .div-1-sec-2 {
    /* background-color: lightblue; */
    grid-column: 1;
    grid-row: 1/4;
    /* padding: 20px; */
    /* margin: 10px; */
}
.about .div-1-sec-2 img{
    height: auto;
    max-width: 100%;
}
.about .div-2-sec-2 {
    /* background-color: lightgreen; */
    grid-column: 2;
    grid-row: 2;
    font-family: var(--font-roboto);
    /* padding: 20px; */
    /* margin: 10px; */
}

.about .div-3-4-container{
    grid-column:2;
    grid-row: 3;
    display: flex;
    align-items: center;

}
.about .div-3-sec-2 {
    /* background-color: lightcoral; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 20px; */
    /* margin: 10px; */
    /* font-family: var(--font-roboto); */
    margin-right: 6px;
}

.about .div-4-sec-2 {
    /* background-color: lightgoldenrodyellow; */
    /* width: 10px; */
    /* align-self: end; */
    /* height: 100%; */
    /* padding: 20px; */
    /* margin: 10px; */
    font-family: var(--font-roboto);
}
.about .section3{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0 30px;
    height: 100%;
    text-align: center;
    padding-bottom: 70px;
}
.about h3
{
    grid-column: 1/4;
    grid-row: 1;
    font-family: var(--font-arima);
    color: var(--color-dark-green);
    display: flex;
    justify-content: center;
}
.div-1-sec-3 {
    /* background-color: #FF5733; */
    grid-column: 1/4;
    grid-row: 2;
    font-family: var(--font-arima);
    /* color: var(--color-dark-green); */
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.div-2-sec-3 {
    /* background-color: #33FF57; */
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.div-3-sec-3 {
    /* background-color: #3357FF; */
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.div-4-sec-3 {
    /* background-color: #F1C40F; */
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.div-5-sec-3 {
    /* background-color: #9B59B6; */
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-arima);
    color: var(--color-dark-green);
    font-weight: bold;
}

.div-6-sec-3 {
    /* background-color: #1ABC9C; */
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-arima);
    color: var(--color-dark-green);
    font-weight: bold;
}

.div-7-sec-3 {
    /* background-color: #E67E22; */
    grid-column: 3;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-arima);
    color: var(--color-dark-green);
    font-weight: bold;
}

.div-8-sec-3 {
    /* background-color: #34495E; */
    grid-column: 1;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto);
}

.div-9-sec-3 {
    /* background-color: #D35400; */
    grid-column: 2;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto);
}
.div-10-sec-3 {
    /* background-color: #000000; */
    grid-column: 3;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto);
}
.about .container
{
    width: 100%;
    max-width: 1114px;
}
.about .section3-mob
{
    display: none;
}
@media (max-width:500px)
{
.about .section1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about .section2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.about .section3
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
}
