/* @media screen and (max-width:500px) and (min-width:200px) {
    .container{
        max-width: 1114px;
        width: 100%;
    }
    
    .contact-page .titles :first-child{
        font-size: 25px;
        width: 345px;
    }

    .contact-page .titles :last-child{
        margin: 24px auto;
        width: 350px;
    }

    .contact-page .questions{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
    }

    .contact-page .flex-p{
        top: 600px;
    }

    .contact-page .questions .faq  .flex-p .p{
        width: 430px;
        height: 55px;
        padding-top: 18px;
        margin-top: 14px;
        top: 15px;
    }

    .contact-page .flex-p :last-child{
        top: 17px;
        right: 10px;
        font-size: 14px;
    }

    .contact-page .pic{
        position: relative;
    }

    .contact-page .pic img{
        position: absolute;
        top: 15px;
        right: -25px;
        width: 350px;
    }
    

} */